*{
  margin: 0;
  padding: 0;
  font-family: "Work Sans", sans-serif;
  scrollbar-width: none;
}

#banner{
  background-image: url("../images/banner/banner1.png");
  background-position:0px -50px;
  height: 100vh;
  margin-bottom: 142px;
}

.banner-content{
  width: 33%;
  max-width: 525px;
  text-align: right;
  position: relative;
  top: 216px;
  right: -845px;
}

.banner-content h2{
  font-size: 65px;
  font-weight: bold;
  margin-bottom: 24px;
}

.banner-content p{
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 32px;
  color: #444343;
  max-width: 510px;
}

.btn{
  background-color: #F15B22;
  padding: 20px 25px;
  border-radius: 5px;
  color: white;
  font-size: 20px;
  font-weight: 600;
  border: none;
  cursor: pointer;
}