#my-plan{
  width: 71%;
  max-width: 1140px;
  margin: 160px auto 130px;
  text-align: center;
}

#my-plan h3{
  margin-bottom: 50px;
}

#my-plan .my-plan-img{
  display: flex;
  justify-content: space-between;
}

.my-plan-img .plan-card h4{
  font-size: 30px;
  margin: 16px 0;
}

/* Call Now  */

#call-now{
  width: 71%;
  max-width: 1140px;
  margin: 0 auto 130px ;
  background: url("../images/gradient3.png"), url("../images/watch.png");
  border-radius: 10px;
}

#call-now .call-now-content{
  width: 45%;
  padding: 60px 64px;
}

#call-now .call-now-content h3{
  color: white;
}

#call-now .call-now-content button{
  background-color: white;
  color: #F15B22;
}